@model IEnumerable<Cumulative01.Models.Teacher>



@foreach (Teacher teacher in Model)
{
	<p><a href="/TeacherPage/Show/@teacher.TeacherId"> @teacher.TeacherFirstName @teacher.TeacherLastName </a></p>
}